
.custom-card {
  width: 90%;
  height: 550px;
  padding: 8px;
  border: 1px solid #ccc;
  overflow: hidden; 
}

.custom-carousel-image {
  max-width: 80%;
  max-height: 380px;
  display: block;
  margin: 0 auto;
}


.carousel .thumbs-wrapper {
  display: none;
}


.custom-mens-card-content {

  text-align: center; 
  padding: 20px;
}
